In [76]:
# pd.Series() 객체생성

import pandas as pd
import numpy as np

print(pd.Series([1,2,3,4])) # 리스트로 생성
print(pd.Series(range(4))) # 레인지로 생성
print(pd.Series({'a':1, 'b':2})) # 딕셔너리로 생성
print(pd.Series(10))
# print(pd.Series(set([1,2,3,4]))) 에러

0    1
1    2
2    3
3    4
dtype: int64
0    0
1    1
2    2
3    3
dtype: int64
a    1
b    2
dtype: int64
0    10
dtype: int64

In [77]:
# pd.Series() 객체생성, index
print(pd.Series([1,2,3], [1,2,3])) # 인덱스를 리스트에 담아
print(pd.Series([1,2,3], ['a','b','c'])) # 문자열 인덱스
print(pd.Series([1,2,3], ['a','a','c'])) # 중복가능
print(pd.Series([1,2,3], ['a','a','c']))

1    1
2    2
3    3
dtype: int64
a    1
b    2
c    3
dtype: int64
a    1
a    2
c    3
dtype: int64
a    1
a    2
c    3
dtype: int64

In [78]:
# pd.Series() 객체생성, dtype
print(pd.Series([1,2,3])) # value 맞춤: int
print(pd.Series(['1','2','3'], dtype=np.int64)) # dtype 적용
print(pd.Series(['1',2,'3'])) # 숫자 이외는 object
print(pd.Series(['1','2','3'])) # 숫자 이외는 object

0    1
1    2
2    3
dtype: int64
0    1
1    2
2    3
dtype: int64
0    1
1    2
2    3
dtype: object
0    1
1    2
2    3
dtype: object

In [79]:
# boolean array, series + 비교연산자
series = pd.Series([1,2,3])
series > 2

0    False
1    False
2     True
dtype: bool

In [93]:
#df.loc
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
      index=['cobra', 'viper', 'sidewinder'],
      columns=['max_speed', 'shield'])
print(df, '\n')
print(df.loc['cobra'], '\n')
print(df.loc[['cobra','sidewinder']], '\n')
print(df.loc['cobra':'sidewinder'], '\n')

print(df.loc[:, 'shield'], '\n')
print(df.loc[:, ['shield', 'max_speed']], '\n')
print(df.loc[:, 'max_speed':'shield'], '\n')

df = pd.DataFrame([[1, 2], [4, 5], [7, 8]])
print(df, '\n')
print(df.iloc[0,1])

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

max_speed    1
shield       2
Name: cobra, dtype: int64

            max_speed  shield
cobra               1       2
sidewinder          7       8

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

cobra         2
viper         5
sidewinder    8
Name: shield, dtype: int64

            shield  max_speed
cobra            2          1
viper            5          4
sidewinder       8          7

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

   0  1
0  1  2
1  4  5
2  7  8

2

In [111]:
df.loc[:, df[0] > 1]

   0  1
0  1  2
1  4  5
2  7  8